<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.brewmapp">

    <uses-permission android:name="android.permission.INTERNET" />
     <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
     <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- <uses-permission android:name="android.permission.CAMERA" /> -->
    <!-- <uses-permission android:name="android.permission.READ_CONTACTS" /> -->
    <!-- <uses-permission android:name="android.permission.WRITE_CONTACTS" /> -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <!-- <uses-permission android:name="android.permission.READ_PHONE_STATE" /> -->

    <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />

    <application
        android:name=".app.environment.BeerMap"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.file_provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_provider_paths" />
        </provider>

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/config_facebook_app_id" />

        <activity
            android:name=".presentation.view.impl.activity.MainActivity"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustNothing"
            />
        <activity
            android:name=".presentation.view.impl.activity.StartActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".presentation.view.impl.activity.LoginActivity"
            android:label="@string/entrance"
            android:screenOrientation="portrait" />
        <activity
            android:name=".presentation.view.impl.activity.RegisterActivity"
            android:label="@string/registration"
            android:screenOrientation="portrait" />
        <activity
            android:name=".presentation.view.impl.activity.EnterPhoneActivity"
            android:label="@string/phone_number"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".presentation.view.impl.activity.ConfirmCodeActivity"
            android:label="@string/confirm"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".presentation.view.impl.activity.EnterPasswordActivity"
            android:label="@string/password"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".presentation.view.impl.activity.InviteActivity"
            android:label="@string/invite_friends"
            android:screenOrientation="portrait" />
        <activity
            android:name=".presentation.view.impl.activity.AlbumsActivity"
            android:label="@string/albums"
            android:screenOrientation="portrait" />
        <activity
            android:name=".presentation.view.impl.activity.AddAlbumActivity"
            android:label="@string/new_album"
            android:screenOrientation="portrait" />
        <activity
            android:name=".presentation.view.impl.activity.AlbumActivity"
            android:label="@string/cap_photo"
            android:screenOrientation="portrait" />
        <activity
            android:name=".presentation.view.impl.activity.InviteListActivity"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="677ac3499948d977b664c1c55c015b1c53aa0e6f" />

        <activity
            android:name=".presentation.view.impl.activity.NewPostActivity"
            android:label="@string/new_post"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".presentation.view.impl.activity.PickLocationActivity"
            android:label="@string/select_place"
            android:screenOrientation="portrait" />
        <activity
            android:name=".presentation.view.impl.activity.FriendsActivity"
            android:label="@string/friends"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".presentation.view.impl.activity.NewPostSettingsActivity"
            android:label="@string/params"
            android:screenOrientation="portrait" />
        <activity
            android:name=".presentation.view.impl.activity.ResultSearchActivity"
            android:label=""
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name=".presentation.view.impl.activity.ExtendedSearchActivity"
            android:label="@string/extended_search"
            android:screenOrientation="portrait" />
        <activity
            android:name=".presentation.view.impl.activity.EventDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".presentation.view.impl.activity.PhotoSliderActivity"
            android:label="@string/photos" />
        <activity
            android:name=".presentation.view.impl.activity.UniversalMapActivity"
            android:label="@string/on_map"
            android:screenOrientation="portrait" />
        <activity
            android:name=".presentation.view.impl.activity.SaleDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".presentation.view.impl.activity.PostDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".presentation.view.impl.activity.InterestListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".presentation.view.impl.activity.AssessmentsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".presentation.view.impl.activity.MultiListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".presentation.view.impl.activity.RestoDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeInvisibleWhileLoad" />
        <activity
            android:name=".presentation.view.impl.activity.FilterMapActivity"
            android:label=""
            android:screenOrientation="portrait" />
        <activity
            android:name=".presentation.view.impl.activity.BeerDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".presentation.view.impl.activity.SelectCategoryActivity"
            android:label=""
            android:screenOrientation="portrait" />
        <activity android:name=".presentation.view.impl.activity.AddReviewRestoActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".presentation.view.impl.activity.ProfileActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeInvisibleWhileLoad"
            />
        <activity android:name=".presentation.view.impl.activity.AddReviewBeerActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".presentation.view.impl.activity.MultiFragmentActivity"
            android:windowSoftInputMode="adjustResize" android:screenOrientation="portrait" />
        <activity
            android:name=".presentation.view.impl.activity.SplashActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".execution.services.ChatService"
            android:exported="false" />

        <receiver
            android:name=".execution.tool.NetworkChangeReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="android.net.wifi.WIFI_STATE_CHANGED" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".presentation.view.impl.activity.BreweryDetailsActivity"
            android:label=""
            android:screenOrientation="portrait" />
        <activity
            android:name=".presentation.view.impl.activity.PhotoGalleryActivity"
            android:label="@string/title_activity_photo_gallery"
            android:theme="@style/AppTheme" />
    </application>

</manifest>