<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.brewmapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:name=".app.environment.BeerMap"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.file_provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_provider_paths" />
        </provider>

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/config_facebook_app_id" />

        <activity
            android:name=".presentation.view.impl.activity.MainActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".presentation.view.impl.activity.StartActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".presentation.view.impl.activity.LoginActivity"
            android:label="@string/entrance"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".presentation.view.impl.activity.RegisterActivity"
            android:label="@string/registration"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".presentation.view.impl.activity.EnterPhoneActivity"
            android:label="@string/phone_number"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"></activity>
        <activity
            android:name=".presentation.view.impl.activity.ConfirmCodeActivity"
            android:label="@string/confirm"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"></activity>
        <activity
            android:name=".presentation.view.impl.activity.EnterPasswordActivity"
            android:label="@string/password"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"></activity>
        <activity
            android:name=".presentation.view.impl.activity.InviteActivity"
            android:label="@string/invite_friends"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".presentation.view.impl.activity.AlbumsActivity"
            android:label="@string/albums"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".presentation.view.impl.activity.AddAlbumActivity"
            android:label="@string/new_album"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".presentation.view.impl.activity.AlbumActivity"
            android:label="@string/cap_photo"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".presentation.view.impl.activity.InviteListActivity"
            android:screenOrientation="portrait"></activity>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="56178a5d0ac6d5dc9bdb1e484ea345fe7241cf2b" />

        <activity
            android:name=".presentation.view.impl.activity.NewPostActivity"
            android:label="@string/new_post"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"></activity>
        <activity
            android:name=".presentation.view.impl.activity.PickLocationActivity"
            android:label="@string/select_place"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".presentation.view.impl.activity.FriendsActivity"
            android:label="@string/friends"
            android:screenOrientation="portrait"></activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".presentation.view.impl.activity.NewPostSettingsActivity"
            android:label="@string/params"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".presentation.view.impl.activity.SearchActivity"
            android:label="@string/search"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustNothing"></activity>
        <activity
            android:name=".presentation.view.impl.activity.ExtendedSearchActivity"
            android:label="@string/extended_search"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".presentation.view.impl.activity.EventDetailsActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".presentation.view.impl.activity.PhotoSliderActivity"
            android:label="@string/photos"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".presentation.view.impl.activity.UniversalMapActivity"
            android:label="@string/on_map"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".presentation.view.impl.activity.SaleDetailsActivity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".presentation.view.impl.activity.PostDetailsActivity"
            android:screenOrientation="portrait"></activity>
    </application>

</manifest>